
<head>
    <%- include("../partials/head.ejs")-%>
    </head>
    
    <body>
        
    
    
        <%- include("../partials/listProduct.ejs")-%>
        
        
        
    <script src="./js/index.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    </body>